*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$main-color : #454545;
$second-color :#F2F9EF;
$bacground-green:rgb(59, 150, 106);
$shadow : 2px 2px 3px 1px #a02b2b;
$border : 5px solid $main-color;

body, html{
    font-family: 'Rhodium Libre', serif;
    //background-color: $background-color;
    background-color: $bacground-green;
    height: auto;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

h1{
    font-size: 48px;
    color: $main-color;
}

h2{
    font-size: 36px;
    color: $main-color;
}
h3{
    font-size: 28px;
    color: $main-color;
}
h4{
    font-size: 22px;
    color: $main-color;
}

p{
    font-size: 26px;
    font-weight: lighter;
    color: $main-color;
}

li{
    font-size: 17px;
    font-weight: lighter;
    color: $main-color;
    list-style-type: none;
}

a{
    border-radius: 30px;
    border: none;
    font-family: 'Rhodium Libre', serif;
}
button{
    border-radius: 30px;
    border: none;
    font-family: 'Rhodium Libre', serif;
    background-color: rgba(59, 150, 106, 0.295);
}

input{
    background-color:#4545452c ;
}

@media screen and (max-width:1024px){
    h1{
        font-size: 36px;
        color: $main-color;
    }
    
    h2{
        font-size: 28px;
        color: $main-color;
    }
    
    p{
        font-size: 18px;
        font-weight: lighter;
        color: $main-color;
    }
    
    li{
        font-size: 18px;
        font-weight: lighter;
        color: $main-color;
        list-style-type: none;
    }
    a{
        font-size: 18px;
        font-weight: lighter;
        color: $main-color;
    }
}
@media screen and (max-width:426px){
    h1{
        font-size: 28px;
        color: $main-color;
    }
    
    h2{
        font-size: 22px;
        color: $main-color;
    }
    
    p{
        font-size: 14px;
        font-weight: lighter;
        color: $main-color;
    }
    
    li{
        font-size: 14px;
        font-weight: lighter;
        color: $main-color;
        list-style-type: none;
    }

    a{
        font-size: 14px;
        font-weight: lighter;
        color: $main-color;
    }
}