.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding: 10px;
    a{
        height: 90px;
        width: 90px;
    }
    img{
        height: 90px;
        width: 100%;
    }
}

.button-ath-and-co{
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 380px;
    a{
        display: flex;
        height: 50px;
        width: 150px;
        box-shadow: $shadow;
        cursor: pointer;
        text-decoration: none;
        color: $main-color;
        background-color: $second-color;
        align-items: center;
        justify-content: center;
    }
    i{
        height: 100%;
        width: 50px;
        color: black;
    }
}



