.signin-form{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2{
        width: 500px;
        display: flex;
        text-align: left;
    }
    form{
        background-color:$second-color;
        border-radius: 30px;
        height: 50%;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        box-shadow: $shadow;
        .input-wrapper{
            display: flex;
            flex-direction: column;
            width: 80%;
            label{
                display: flex;
                text-align: left;
                width: 80%;
            }
            input{
                border-radius: 30px;
                height: 45px;
                border: none;
                padding: 2%;
            }
        }


        .sign-in-button{
            border-radius: 30px;
            width: 300px;
            height: 45px;
            border: none;
            padding: 2%;
            font-size: 16px;
            cursor: pointer;
        }
    }
}